/* ..........CSS RESETS.......... */

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  padding: 0;
  margin: 0;
}

html,
body {
  height: 100%;
  width: 100%;
}

body {
  margin: 0;
  padding: 0;
  line-height: 1.5;
  background-color: #e5e5e5;
  font-family: "Inter", sans-serif;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

h1 {
  font-family: "Crete Round", serif;
  font-style: normal;
  color: var(--hColor);
  font-weight: 400;
}

h2 {
  font-family: "Crete Round", serif;
  font-size: normal;
}

h3 {
  font-family: "Roboto", sans-serif;
}

img,
picture,
svg {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

/* Variables */

:root {
  --hColor: #ff6b00;
}

/* Reusable classes */

.flex {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.limit {
  padding-inline: 1.5rem;
}

.center {
  text-align: center;
}

/* ............. Header............... */

header {
  height: 7.4539vh;
  width: 100%;
  background-color: #3c3a39;
  color: #fff;
}

.logo {
  font-size: 1.125rem;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  line-height: 1.5;
}

.menu-btn-container {
  height: 2.5rem;
  width: 2.5rem;
  padding: 0.938rem 0.75rem;
  position: relative;
  cursor: pointer;
}

.menu-btn {
  position: absolute;
  top: 50%;
  right: 50%;
  transform: translateX(50%);
  width: 1.315rem;
  height: 0.156rem;
  background-color: #fff;
  border-radius: 1rem;
  z-index: 99;
}

.menu-btn::before {
  content: "";
  position: absolute;
  top: 0.35rem;
  right: 0;
  width: 100%;
  height: inherit;
  border-radius: 1rem;
  background-color: #fff;
}

.menu-btn::after {
  content: "";
  position: absolute;
  top: -0.35rem;
  right: 0;
  width: 100%;
  height: inherit;
  border-radius: 1rem;
  background-color: #fff;
}

/* ............. Hero Section............... */

main {
  width: 100%;
  overflow-x: hidden;
}

.hero {
  background-color: #1c1a19;
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
}

.hero-container {
  color: #fff;
  height: calc(100vh - 7.4539vh);
}

.hero-img {
  position: absolute;
  bottom: 0;
  right: 0;
  top: calc(40.869959204vh - 7.8539vh);
  background: url("/assets/images/illustration-header-mobile.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position-x: 100%;
  width: calc(100% / 1.5);
  height: 67.78vh;
  overflow: hidden;
}

.hero-text {
  height: 100%;
  flex-direction: column;
  text-align: left;
  align-items: flex-start;
  z-index: 9999;
  position: relative;
  justify-content: center;
  color: #fff;
}

.hero-title h1 {
  font-size: 3.5rem;
  line-height: 4rem;
  letter-spacing: 0.023rem;
  margin-bottom: 0.75rem;
}

.hero-title h3 {
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 2rem;
  font-style: normal;
}

.hero-description {
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5rem;
  margin-top: 0.75rem;
}

.socials {
  width: 12.5rem;
  height: 2.5rem;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 1.375rem;
}

.socials .fa-brands {
  font-size: 1.25rem;
  cursor: pointer;
}
