/* ..........CSS RESETS.......... */

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  padding: 0;
  margin: 0;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
}

body {
  margin: 0;
  padding: 0;
  line-height: 1.5rem;
  background-color: #fff;
  font-family: "Inter", sans-serif;
}

ul {
  list-style: none;
}

.button {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-size: 1.0625rem;
  font-weight: 700;
  height: 48px;
  background-color: var(--hColor);
  color: #fff;
  border: none;
  text-align: center;
  padding: 0.75rem;
  cursor: pointer;
  transition: background-color 100ms ease-in-out;
}

.button:hover {
  color: var(--hColor);
  background-color: #fff;
  outline: 1px solid var(--hColor);
}

.button:disabled {
  color: #5b5957;
  background-color: #f4f1f0;
}

.button:active {
  color: #fff;
  background-color: #e05304;
}

a {
  text-decoration: none;
  color: inherit;
  transition: color 300ms ease-in-out;
}

a:hover {
  color: var(--hColor);
}

h1 {
  font-family: "Crete Round", serif;
  font-style: normal;
  color: var(--hColor);
  font-weight: 400;
  letter-spacing: 0.02375rem;
}

h2 {
  font-family: "Crete Round", serif;
  font-style: normal;
  font-weight: 400;
}

h3 {
  font-family: "Roboto", sans-serif;
}

img,
picture,
svg {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

/* Variables */

:root {
  --hColor: #ff6b00;
}

/* Reusable classes */

.hid-mob {
  display: none;
}

.flex {
  display: flex;
  flex-direction: row;
}

.between {
  justify-content: space-between;
  align-items: center;
}

.flex-center {
  justify-content: center;
  align-items: center;
}

.center-left-col {
  justify-content: center;
  align-items: flex-start;
}

.start-row {
  justify-content: flex-start;
  align-items: center;
}

.end-col-left {
  align-items: flex-start;
  justify-content: flex-end;
}

.start-col {
  align-items: flex-start;
  justify-content: center;
}

.flex-col {
  flex-direction: column;
}

.limit {
  padding-inline: 1.5rem;
}

.limit-interior {
  padding-inline: 1rem;
}

.text-center {
  text-align: center;
}

/* ............. Header............... */

header.limit {
  height: 7.4539vh;
  width: 100%;
  background-color: #3c3a39;
  color: #fff;
}

.logo {
  font-size: 1.25rem;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
}

.nav-links {
  display: none;
}

.menu-btn-container {
  height: 2.5rem;
  width: 2.5rem;
  padding: 0.938rem 0.75rem;
  position: relative;
  cursor: pointer;
}

.menu-btn {
  position: absolute;
  top: 50%;
  right: 50%;
  transform: translateX(50%);
  width: 1.315rem;
  height: 0.156rem;
  background-color: #fff;
  border-radius: 1rem;
  z-index: 99;
}

.menu-btn::before {
  content: "";
  position: absolute;
  top: 0.35rem;
  right: 0;
  width: 100%;
  height: inherit;
  border-radius: 1rem;
  background-color: #fff;
}

.menu-btn::after {
  content: "";
  position: absolute;
  top: -0.35rem;
  right: 0;
  width: 100%;
  height: inherit;
  border-radius: 1rem;
  background-color: #fff;
}

/* ............. Hero Section............... */

main {
  width: 100%;
  overflow-x: hidden;
}

.hero {
  width: 100%;
  height: calc(100vh - 7.4539vh);
  margin-bottom: 7.5rem;
}

.hero-container {
  color: #fff;
  height: 100%;
}

.hero-img {
  background: url("./assets/images/illustration-header-mobile.png"), #1c1a19;
  background-size: calc(20.056rem / 1.9) 26.585rem;
  background-position: 100% calc(40.869959204vh - 7.8539vh), left 100% top 100%;
  background-repeat: no-repeat, no-repeat;
}

.hero-text {
  height: 100%;
  width: 100%;
  text-align: left;
  position: relative;
  color: #fff;
}

.hero-title h1 {
  font-size: 3.5rem;
  line-height: 4rem;
  letter-spacing: 0.02375rem;
  margin-bottom: 0.75rem;
}

.hero-title h3 {
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 2rem;
  font-style: normal;
  margin-top: 0.75rem;
}

.hero-description {
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  margin-top: 0.75rem;
}

.socials {
  width: 12.5rem;
  height: 2.5rem;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 0.75rem;
}

.socials .fa-brands {
  width: 2.5rem;
  height: 2.5rem;
  font-size: 1.25rem;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* ............. Work Section............... */

.work {
  width: 100%;
  min-height: 100vh;
}

.grid {
  display: grid;
  grid-template: 1fr repeat(6, 24.125rem) / 1fr;
  gap: 1.5em;
  align-items: end;
  justify-items: center;
  justify-content: center;
  width: 100%;
  margin: 0 auto;
  max-width: 100vw;
}

.work-title {
  position: relative;
  padding-bottom: 1.5rem;
  width: 100%;
  border-bottom: 0.063rem solid #acacac;
  margin-bottom: 5rem;
}

.work-title h2 {
  font-style: normal;
  font-weight: 400;
  font-size: 2.5rem;
  line-height: 3.25rem;
  position: relative;
}

.main-article {
  color: #091e42;
  margin-bottom: 1.5rem;
}

.article-img {
  margin-bottom: 1.5rem;
  background-color: #091e42;
}

.article-img img {
  width: 100%;
  height: 100%;
  background: #1c1a19;
  object-fit: fill;
}

.article-block {
  gap: 0.75rem;
}

.article-title h2 {
  font-size: 2rem;
  line-height: 2.75rem;
}

.article-desc {
  font-size: 1rem;
}

.article-links {
  width: 100%;
  height: 100%;
}

.article-links a {
  margin: 0 0.75rem 0.75rem 0;
}

.article-link {
  padding: 0.625rem 0.75rem;
  border: 0.063rem solid #091e42;
}

.article-btn {
  margin-top: 0.75rem;
}

/* ....CARD.... */

.work-card {
  color: #fff;
  width: 100%;
  height: 24.125rem;
  background: linear-gradient(
      180.45deg,
      rgba(38, 38, 38, 0) 0.75%,
      rgba(38, 38, 38, 0.9) 61.94%
    ),
    url("./assets/images/img2.png");
  background-size: cover;
  padding-top: 5.25rem;
  margin-bottom: 1.5rem;
}

.card-block {
  padding: 8px 16px;
}

.card-links li {
  margin: 0.75rem 0.75rem 0.75rem 0;
}

.card-link {
  background-color: rgba(255, 255, 255, 0.24);
  padding: 0.625rem 0.75rem;
}

.card-btn {
  width: 100%;
}

/* ............. About Me Section............... */

.about {
  width: 100%;
}

.about-main-container {
  color: #fff;
  height: 100%;
  background: url("./assets/images/Frame.svg"), #1c1a19;
  background-repeat: no-repeat;
  background-size: 10.299rem 42.994%, contain;
  background-position: left 100% top 3.396%;

  /* background-color: #1c1a19; */
}

.about-container {
  height: 35.188rem;
  margin-top: 7rem;
}

.about-text {
  gap: 1.5rem;
  height: 100%;
  text-align: left;
  color: #f4f5f7;

  /* margin-top: 120px; */
}

.line img {
  height: auto;
  margin-top: 5.563rem;
  width: 100%;
}

.about-title h1 {
  font-size: 4.5rem;
  line-height: 5.5rem;
}

.about-desc {
  font-size: inherit;
}

.about-btn:hover {
  color: var(--hColor);
  background-color: #fff;
}

.second-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 120px 24px;
  gap: 1.5rem;
}

.cont {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  color: #fff;
}

.languages {
  flex-direction: column;
  gap: 0.5rem;
  align-items: center;
  padding: 0 12px;
}

.languages li {
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 2.667rem;
  padding: 0.75rem 0;
}

.lang-title {
  font-family: "Inter", sans-serif;
  font-size: 2rem;
  gap: 0.75rem;
  line-height: 2.75rem;
  font-weight: 700;
}

/* ............. About Me Section............... */

.contact {
  width: 100%;
  height: 100%;
}

.contact-container {
  min-height: 52.75rem;
  justify-content: space-between;
  align-items: flex-start;
}

.contact-first {
  gap: 3.625rem;
  padding: 7.75rem 0;
}

.contact-text h2 {
  font-size: 2rem;
  line-height: 2.75rem;
  font-family: "Inter", sans-serif;
  font-weight: 700;
  text-align: center;
  color: #172b4d;
  margin-bottom: 3.625rem;
}

.contact-form form {
  gap: 1.5rem;
}

form textarea {
  min-height: 7.125rem;
  width: 100%;
  border: none;
  font-size: 15px;
  background: #fbf8f7;
  padding: 0.5rem 1rem;
}

form input {
  width: 100%;
  height: 3rem;
  outline: none;
  border: none;
  font-size: 15px;
  border-bottom: 1px solid #dbd8d7;
  padding: 0.5rem 1rem;
}

form input[type="text"] {
  font-size: 15px;
  height: 3rem;
}

form textarea::placeholder {
  color: #050404;
}

.contact-btn {
  width: 100%;
}

form input[type="submit"] {
  font-size: 15px;
  height: 3rem;
  width: 8.1875rem;
}

.contact-second {
  width: 100%;
  height: 4.5rem;
  margin-bottom: 0.2rem;
  border-top: 1px solid #dfe1e6;
  position: relative;
}

.contact-second::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  height: 0.3125rem;
  width: 8.375rem;
  background-color: #091e42;
  border-radius: 7rem;
}

.contact-socials .socials-link i {
  color: #505f79;
  font-size: 20px;
  padding: 0.75rem 0.625rem;
  transition: color 300ms ease-in-out;
}

.contact-socials .socials-link:hover i {
  color: var(--hColor);
}

.contact-socials {
  height: 2.5rem;
}

/*............. Media queries ...............*/

@media screen and (min-width: 768px) {
  .limit {
    padding-inline: 0rem;
  }

  .limit-desk {
    padding-inline: 8.9375rem;
  }

  /* Header */

  .menu-btn-container {
    display: none;
  }

  .nav-links {
    display: flex;
    gap: 32px;
  }

  .nav-link:hover {
    cursor: pointer;
  }

  .nav-link:last-child {
    margin-left: 2.0625rem;
  }

  .nav-link:last-child i {
    width: 1.375rem;
    font-size: 1.125rem;
    transition: color 200ms ease-in-out;
  }

  .nav-link:last-child:hover i {
    color: var(--hColor);
  }

  /* Hero section */

  .hero {
    padding: 0;
    width: 100%;
    min-height: 47.9rem;
    margin: 0;
  }

  .hero-img {
    background: url("./assets/images/illustration-header-desktop.svg"), #1c1a19;
    background-size: 52% 109.9%;
    background-position: right bottom 26px;
    background-repeat: no-repeat, no-repeat;
  }

  .hero-text {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
  }

  .hero-headline {
    width: 35.375rem;
    margin-left: calc(8.9375rem - 7.9375rem);
  }

  .hero-title h1 {
    font-size: 4.5rem;
    line-height: 5.09375rem;
  }
  .hero-title h3 {
    font-size: 2rem;
    line-height: 2.75rem;
  }
  .hero-title p {
    font-size: 1.25rem;
    line-height: 2rem;
  }

  .hero .socials {
    display: flex;
    flex-direction: column;
    width: auto;
    height: auto;
    margin: 0;
  }

  .hero .socials:hover a {
    cursor: default;
    background-color: #091e42;
    color: #fff;
  }

  .hero .socials i {
    font-size: 1.25rem;
    padding-left: 2.25rem;
    margin-right: 5.4375rem;
    transition: color 200ms ease-in-out;
  }

  .hero .socials i:hover {
    cursor: pointer;
    color: var(--hColor);
  }

  /* Work section */

  .work {
    padding-top: 8.4375rem;
  }

  .grid {
    grid-template: repeat(3, 1fr) / repeat(3, 1fr);
    align-items: center;
    justify-content: center;
  }

  .main-article {
    flex-direction: row;
    flex: 1;
    gap: 24px;
    width: 100%;
    grid-column: 1 / span 3;
    margin: 0;
    height: 28rem;
    align-items: flex-start;
  }

  .article-block {
    width: 50%;
  }

  .article-desc {
    font-size: 1.25rem;
  }

  .article-img {
    width: 50%;
    height: auto;
  }

  .work-card {
    height: 100%;
    margin: 0;
    padding: 0;
  }

  .work-card:nth-child(2) {
    background: url("./assets/images/card-desktop1.svg");
    background-size: cover;
  }

  .work-card:nth-child(2) .card-article {
    display: none;
  }

  .work-card:not(:nth-child(2)) .button {
    display: none;
  }

  .work-card:nth-child(3) h2,
  .work-card:nth-child(6) h2 {
    visibility: hidden;
    position: relative;
  }

  .work-card:nth-child(3) h2::after,
  .work-card:nth-child(6) h2::after {
    content: "Data Dashboard Healthcare";
    position: absolute;
    top: 0;
    left: 0;
    visibility: visible;
  }

  .work-card:nth-child(4) h2,
  .work-card:nth-child(7) h2 {
    visibility: hidden;
    position: relative;
  }

  .work-card:nth-child(4) h2::after,
  .work-card:nth-child(7) h2::after {
    content: "Website Protfolio";
    position: absolute;
    top: 0;
    left: 0;
    visibility: visible;
  }

  .work-card:nth-child(5) {
    background: linear-gradient(
        180.45deg,
        rgba(38, 38, 38, 0) 0.75%,
        rgba(38, 38, 38, 0.9) 84.18%
      ),
      url("./assets/images/card-desktop1.svg");
    background-size: cover;
  }

  .work-card:nth-child(3),
  .work-card:nth-child(6) {
    background: linear-gradient(
        179.35deg,
        rgba(38, 38, 38, 0) 0.85%,
        rgba(38, 38, 38, 0.9) 84%
      ),
      url("./assets/images/card-desktop2.svg");
    background-size: cover;
  }

  .work-card:nth-child(4),
  .work-card:nth-child(7) {
    background: linear-gradient(
        179.4deg,
        rgba(38, 38, 38, 0) 0.81%,
        rgba(38, 38, 38, 0.9) 84.03%
      ),
      url("./assets/images/card-desktop3.svg");
    background-size: cover;
  }

  /* About section */

  .about-main-container {
    background: url("./assets/images/aboutMe-img.svg"), #1c1a19;
    background-repeat: no-repeat;
    background-position: left 100% top 6.8%;
  }
  .about-container {
    width: 35.375rem;
    padding-top: 8.125rem;
  }

  .about-desc {
    font-size: 1.25rem;
  }

  .line img {
    height: 0.5625rem;
  }

  .second-container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    height: 37.25rem;
  }

  .cont {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }

  .languages {
    display: block;
    padding: 0;
  }

  /* Contact section */

  .hid-desk {
    display: none !important;
  }

  .hid-mob {
    display: inline;
  }

  .contact-container {
    display: flex;
    min-height: 100vh;
  }

  .contact-first {
    flex-direction: row;
    min-height: 36.875rem;
    justify-content: center;
    align-items: center;
  }

  .contact-text {
    width: 40%;
  }

  .contact-form {
    width: 60%;
  }

  .contact-form form {
    display: grid;
    justify-content: flex-start;
    align-items: flex-end;
    grid-template: auto auto auto fit-content/ 1fr 1fr;
    min-height: 20.625rem;
    width: 100%;
  }

  .contact-form form input[type="text"] {
    width: 100%;
    display: inline;
    margin: 0;
  }

  .contact-form form .input-name {
    grid-column: 1 / span 3;
    display: flex;
    gap: 1.5rem;
  }

  .contact-form form input[type="email"] {
    grid-column: 1 / span 3;
  }

  .contact-form form textarea {
    grid-column: 1 / span 3;
  }

  .contact-btn {
    width: auto;
  }

  .contact-second {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 55%;
    height: auto;
    padding-block: 1rem;
    border-top: 2px solid rgb(223, 225, 230);
  }

  .contact-second ul {
    grid-column-end: -1;
    justify-content: flex-start;
    height: 2.5rem;
  }

  .contact-second::after {
    display: none;
  }
}
